/* @import url('https://fonts.googleapis.com/css2?family=Lora&family=Mulish&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

html{
  scroll-behavior: smooth;
}
